* {
  margin: 0;
  padding: 0;
  text-align: center;
}

div.mainContainer {
  text-align: center; 
  font-size: 150px;
   font-family: cursive;
   margin: 3%;
}

.parent {
    display: flex;
    width: 100%;
  }

  .child {
    width: 100%;
    margin: 1%;
    height: 200px;
    border: 3px solid black;
  }

  .child:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: white;
  }



